/* --------------Navbar styling------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar{
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #2b0000, #7a0000, #2b0000);
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.logo img{
  width: 50px;
  border: 2px solid rgb(124, 4, 4);
  border-radius: 100%;
}
.logo img:hover{
  width: 70px;
  border: 4px solid rgb(136, 3, 3);
  /* opacity: 0.5; */
}
.menu{
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

.menu li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.3s;
}

.menu li a:hover{
  color: #ff2e2e;
}

.discover-btn{
  background: transparent;
  border: none;
  color: white;
  padding: 12px 28px;
  letter-spacing: 2px;
  cursor: pointer;
} 

.arro-icon{
  margin-left: 10px;
  font-size: 25px;
}


.arro-icon:hover{
   border: 4px solid rgb(226, 66, 128);
   padding: 1;
   border-radius: 100%;
}