/* --------------Navbar styling------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar{
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #2b0000, #7a0000, #2b0000);
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.logo img{
  width: 50px;
  border: 2px solid rgb(124, 4, 4);
  border-radius: 100%;
}
.logo img:hover{
  width: 70px;
  border: 4px solid rgb(136, 3, 3);
  /* opacity: 0.5; */
}
.menu{
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

.menu li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.3s;
}

.menu li a:hover{
  color: #ff2e2e;
}

.discover-btn{
  background: transparent;
  border: none;
  color: white;
  padding: 12px 28px;
  letter-spacing: 2px;
  cursor: pointer;
} 

.arro-icon{
  margin-left: 10px;
  font-size: 25px;
}


.arro-icon:hover{
   border: 4px solid rgb(226, 66, 128);
   padding: 1;
   border-radius: 100%;
}


/* Tablet device  */
@media screen and (max-width: 1024px){
  .navbar{
    padding: 0 30px;
  }

  .menu{
    gap: 25px;
    margin-left: 30px;
  }

  .menu li a{
    font-size: 13px;
    letter-spacing: 1.5px;
  }

  .logo img{
    width: 45px;
  }
}


/* Mobile device */

@media screen and (max-width: 640px){
  .navbar{
    padding: 0 20px;
    position: relative;
  }

  /* hamburger icon */
  .menu-icon{
    display: block;
    margin-left: auto;
  }

  .menu{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #2b0000, #7a0000);
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 25px 0;
    display: none;
  }

  #menu-toggle:checked ~ .menu{
    display: flex;
  }

  .menu li a{
    font-size: 14px;
  }

  .logo img{
    width: 40px;
  }
}
