
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #2b0000, #7a0000, #2b0000);
}


/* iframe video */
.banner iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

/* dark overlay */
.overlay{
    position: absolute;
    inset:0 ;
    background-color:rgb(0,0,0,0.45);
    z-index: -1;
}
/* text */
.banner-content{
    position: absolute;
    color: white;
    bottom: 150px;
    left: 100px;
}
.banner>video{
  width: 100%;
  overflow: hidden;
  /* object-fit: cover; */
}
 .small-title{
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 10px;
}

 .banner-content h1{
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 30px;
} 

.discover-btn{
  background: transparent;
  border: none;
  color: white;
  padding: 12px 28px;
  letter-spacing: 2px;
  cursor: pointer;
} 

.arro-icon{
  margin-left: 10px;
  font-size: 25px;
}


.arro-icon:hover{
   border: 4px solid rgb(226, 66, 128);
   padding: 1;
   border-radius: 100%;
}



@media screen and (max-width: 576px){



    
  
       
    }