.flex-section-area > .flex-container{
  display: flex;
}

/* common image style */
.flex-container > div{
  width: 50%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
}

/* background images */
.flex-img-1{ background-image: url("../images/img2.avif"); }
.flex-img-2{ background-image: url("../images/img3.avif"); }
.flex-img-3{ background-image: url("../images/img4.avif"); }
.flex-img-4{ background-image: url("../images/img5.avif"); }
.flex-img-5{ background-image: url("../images/img6.avif"); }
.flex-img-6{ background-image: url("../images/img7.avif"); }

/* text */
.big-text{
  color: white;
  font-size: 40px;
}

.small-text{
  color: white;
  font-size: 22px;
}

/* description area */
.description-area{
  background-color: #303030;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-description{
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.subscribe-btn{
  padding: 16px 45px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #B01E0A;
  cursor: pointer;
}



@media (max-width: 1024px){

  .flex-container > div{
    height: 420px;
    padding: 30px;
  }

  .big-text{
    font-size: 32px;
  }

  .small-text{
    font-size: 20px;
  }
}



@media (max-width: 576px){

  .flex-section-area > .flex-container{
    flex-direction: column;
  }

  .flex-container > div{
    width: 100%;
    height: 450px;
    padding: 25px;
    align-items: flex-start;
  }

  .big-text{
    font-size: 26px;
  }

  .small-text{
    font-size: 18px;
  }

  .subscribe-btn{
    font-size: 16px;
    padding: 14px 35px;
  }
}
