footer{
  background-color: #181818;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 10px;
}

.footer-container>h3{
    margin-bottom: 10px;
}



@media (max-width: 576px) {
    footer{
  flex-direction: column;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;    
}
}

