 /*--------------- SCUDERIA ARea-------------- */
.scuderia-section{
    background: white;
}
 .scuderia-container-area{
    display: flex;
    height:100%;
    /* border: 2px solid red; */
}
.scuderia-container-area >div:nth-child(1){
    width:60%;
    margin:50px 30px;
    padding: 10px 30px;
    align-content: center;  
    /* border: 2px solid rgb(20, 200, 53); */
}

.scuderia-title{
    font-size: 30px;
    font-weight:700;
    padding-bottom:15px; 
}
.scuderia-description{
    /* width: 550px; */
    /* border: 2px solid red; */
   
    padding-bottom:10px;
}


.scuderia-img img{
    height:100%;
    width:100%;
}

.discover-btn-black{
  background: transparent;
  border: none;
  color: black;
  padding: 12px 28px;
  letter-spacing: 2px;
  cursor: pointer;
} 

.arro-icon{
  margin-left: 10px;
  font-size: 25px;
}


.arro-icon:hover{
   border: 4px solid rgb(226, 66, 128);
   padding: 1;
   border-radius: 100%;
}




 @media (max-width: 576px) {

 .scuderia-container-area{
    flex-direction: column;
    /* border: 2px solid red; */
}

.scuderia-container-area >div:nth-child(1){
    width:100%;
    margin:0px 0px;
    padding: 10px 10px;
    /* border: 2px solid rgb(19, 204, 201); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.scuderia-title{
    font-size: 25px;
    text-align: center;
}
.scuderia-description{
    padding: 5px 50px;
    padding-bottom:10px;
    text-align: center;
     /* border: 2px solid red; */
}

    }








