
.text-container-area{
  padding: 90px 20px;
  background-color: white;
}
.text-container{

}
.text-container>h1{
  text-align: center;
  padding: 20px 0px;
}
.text-container>h6{
  color: #d40000;
  padding: 30px 0px;
  font-size: 16px;
}
.text-container>p{
  text-align: center;
  font-size: 20px;
}


/* ===== BRAND SECTION ===== */
.areas-section {
  position: relative;
  height: 100vh;
  background: url("../about-images/areas.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 80px;
  color: #fff;
}


.areas-section .overlay {
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.45);
}


.areas-content {
  position: relative;
  max-width: 600px;
}

.section-tag {
  color: #d40000;
  font-size: 14px;
  letter-spacing: 3px;
  display: inline-block;
  margin-bottom: 20px;
}

.areas-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.areas-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 480px;
}
/* ===== Tablet ===== */
@media screen and (max-width: 1024px) {
  .areas-section {
    padding: 0 40px;
    height: 80vh;
  }

  .areas-content h1 {
    font-size: 48px;
  }
}

/* ===== Mobile ===== */
@media screen and (max-width: 640px) {
  .areas-section {
    padding: 0 20px;
    height: 70vh;
  }

  .areas-content h1 {
    font-size: 36px;
  }

  .areas-content p {
    font-size: 15px;
  }
}
