.banner-container-area{

}

.banner-container{
    background-image: url("../about-images/banner.jpg");
    height: 470px;
    object-fit: cover;
    overflow: hidden;
}

.banner-container>h2{
    font-size: 40px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}