/* ===== HERO SECTION ===== */
.reward-section {
  position: relative;
  height: 100vh;
  background: url("../about-images/img4.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 80px;
  color: #fff;
  border: 2px solid blue;
  margin-bottom: 20px;
  
}

/* Dark overlay */
.reward-section .overlay {
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.45);
}

/* Content */
.reward-content {
  position: relative;
  max-width: 600px;
}

.section-tag {
  color: #d40000;
  font-size: 14px;
  letter-spacing: 3px;
  display: inline-block;
  margin-bottom: 20px;
}

.reward-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.reward-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 480px;
}
/* ===== Tablet ===== */
@media screen and (max-width: 1024px) {
  .reward-section {
    padding: 0 40px;
    height: 80vh;
  }

  .reward-content h1 {
    font-size: 48px;
  }
}

/* ===== Mobile ===== */
@media screen and (max-width: 640px) {
  .reward-section {
    padding: 0 20px;
    height: 70vh;
  }

  .reward-content h1 {
    font-size: 36px;
  }

  .reward-content p {
    font-size: 15px;
  }
}
